<header>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>
            BMO Ordering System
        </span>
        <span class="header-menu-spacer"></span>
            <!-- {{ userToken?.sub }} -->
        <section *ngIf="userToken | async as currentUser">
            {{ currentUser.sub }}
        </section>
        <div *ngIf="userToken | async as userToken">
            <div *ngIf="userToken.sub; else login">
                <button mat-icon-button (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </div>

        <ng-template #login>
            <!-- dont forget to import RouterModule on header module  -->
           <button mat-icon-button [routerLink]="['']">
               <mat-icon>login</mat-icon>
           </button>
        </ng-template>
    </mat-toolbar>
</header>