<h4>Login</h4>

<!-- Template-Driven Form (validations on template) -->
<form (ngSubmit)="login()" #loginForm="ngForm">
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput
                id="inputLogin" 
                placeholder="Username" 
                [(ngModel)]="username" 
                name="username"
                #fieldUsername="ngModel"
                required>
        </mat-form-field>
    </section>
    <section>
        <app-message 
        *ngIf="fieldUsername.invalid && fieldUsername.touched"
        msg="Username is required"></app-message>
    </section>
    <section>
        <mat-form-field appearance="fill">
            <input matInput type="password"
                placeholder="Password" 
                [(ngModel)]="password" 
                name="password"
                #fieldPassword="ngModel"
                required>
        </mat-form-field>
    </section>
    <section>
        <app-message
            *ngIf="fieldPassword.invalid && fieldPassword.touched"
            msg="Password is required"></app-message>
    </section>
    <section>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
    </section>
</form>

<p><small>Are you new here? <a [routerLink]="['new-user']">Sign up</a> now!</small></p>